node_modules
.nuxt
.output
.env*.local
dev.log
.DS_Store
*.otf
.data
AAXLO—Branding colors.pdf
AAXLO_Branding.md
aaxlo_landing_page_execute.md
aaxlo_sitemap.md
codepen-splash.html
pencil-new.pen
docs/superpowers/*
.vercel/*
local-design-files/*